﻿/* Form Styles */
form#clientLogin{
    width: 340px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    /*border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;*/
}

.inputIconDemo {
    min-height: 48px;
}

md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green;
}

md-input-container.md-icon-float {
    margin-bottom: 10px;
}

md-input-container:not(.md-input-invalid) > md-icon.name {
    color: #4a89dc;
}

md-input-container.md-input-invalid > md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red;
}

md-input-container ng-messages,
md-input-container [ng-messages] {
    padding-left: 36px;
}

.md-button.md-raised#loginButton:not([disabled]) {
    width: 100%;
    margin-top: 40px;
    background-color: #4a89dc;
    height: 48px;
    color: white;
}

.md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: #357DDC;
}