﻿
<div class="md-padding selectdemoBasicUsage">
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
        <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center">
            <md-card class="card-40-center">
                <!--<md-toolbar>
                    <h2 class="md-toolbar-tools"><span>Create Reminder</span></h2>
                </md-toolbar>-->
                <md-card-header>
                    <md-card-header-text>
                        Create Reminder
                    </md-card-header-text>
                </md-card-header>
                
                <md-card-content>
                    
                    <form ng-submit="createReminder()" method="post" class="signup_form">
                        <div class="md-padding" layout-align="center">
                            <div layout="row">
                                <md-input-container flex="100">
                                    <label>Phone Number</label>
                                    <input ng-model="reminder.phone" ng-pattern="/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/">
                                </md-input-container>

                            </div>

                            <div layout="row">
                                <mdp-date-picker mdp-placeholder="Date" ng-model="reminder.date"></mdp-date-picker>                               
                            </div>
                            
                            <div layout="row">
                                <mdp-time-picker mdp-placeholder="Time" ng-model="reminder.date"></mdp-time-picker>
                            </div>

                            <div layout="row">
                                <md-input-container flex="100">
                                    <label>Message</label>
                                    <input type="text" ng-model="reminder.message">
                                </md-input-container>

                            </div>

                        </div>

                        <md-card-actions layout="row" layout-align="center">
                            <br>
                            <center>
                                <md-button class="md-primary md-raised signup_button" type="submit">Create</md-button>
                                <md-button ng-click="clearReminder()" md-no-ink="md-no-ink">Clear Fields</md-button>
                            </center>
                        </md-card-actions>

                    </form>

                </md-card-content>

            </md-card>
        </div>
    </md-content>
</div>

