﻿<md-content class="md-padding">
    <md-nav-bar
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-sref="create" name="page1">
            New reminder
        </md-nav-item>

        <md-nav-item md-nav-sref="existing" name="page2">
            Existing reminders
        </md-nav-item>

        <md-nav-item md-nav-click="goto('page3')" name="page3">
            Mulligan
        </md-nav-item>                 

    </md-nav-bar>

</md-content>

<!--<div ng-include src="'templates/inputs.html'"></div>-->