﻿
<div class="login">
    
    <form name="clientLogin" id="clientLogin" md-whiteframe="4">

        <md-input-container>
            <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
            <input ng-model="user.name" name="userName" type="text" placeholder="Name" ng-required="true">
            <div ng-messages="clientLogin.userName.$error">
                <div ng-message="required">Your full name is required.</div>
            </div>
        </md-input-container>

        <md-input-container md-no-float>
            <!-- Use floating placeholder instead of label -->
            <!--<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>-->
            <input ng-model="user.password" type="text" placeholder="Password" ng-required="true" name="userPassword">
            <div ng-messages="clientLogin.userPassword.$error">
                <div ng-message="required">Your password is required.</div>
            </div>
        </md-input-container>

        <section layout="row" kayout-sm="column" layout-align="center center">
            <md-button class="md-raised" id="loginButton" ui-sref="createProfile">Create Profile</md-button>
            <md-button class="md-raised md-primary" id="loginButton" ui-sref="landingPage">Login</md-button>
        </section>

    </form>

</div>