﻿<md-content layout-padding>
    <form name="newUserForm"  ng-submit="createUserProfile()" method="post">        

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input md-maxlength="30" required name="name" ng-model="newUser.name" />

                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                    <div ng-message="required">Name is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
            </div>

        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input name="email" ng-model="newUser.email" required maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                       
                <div ng-messages="userForm.email.$error" ng-hide="showHints">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
            </div>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Phone Number</label>
                <input name="phone" ng-model="newUser.phone" required ng-pattern="/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/" />
                
                <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                    <div ng-message="pattern">###-###-#### - Please enter a valid phone number.</div>
                </div>
            </md-input-container>
            
            <div>
                <md-button type="submit">Submit</md-button>
            </div>            

            <style>
          
                body[dir=rtl] .hint {
                    right: 2px;
                    left: auto;
                }
            </style>
        </div>

    </form>
</md-content>
