﻿
<div ng-cloak >
    <md-content class="md-padding" layout-xs="column" layout="row">
        
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card> <!--md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch-->
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Small</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>                       
        </div>

    </md-content>
</div>